.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0 ;
    background-color: white;
    border-bottom: 1px solid rgb(213, 211, 211); 
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar,
.voice-search-button,
.upload-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button .tool-tips,
.voice-search-button .tool-tips,
.upload-icon-container .tool-tips{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    font-size: 13.6px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tool-tips,
.voice-search-button:hover .tool-tips,
.upload-icon-container:hover .tool-tips {
    opacity: 1;
}

.search-bar::placeholder {
    font-weight: var(--active-font-family);
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(243, 240, 240);
    border: 1px solid rgb(166, 166, 166);
    margin-left: -1px;
    margin-right: 10px;
}

.search-button img {
    height: 25px;
    margin-top: 4px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(245, 245, 245);
}

.voice-search-button img {
    height: 24px;
    margin-top: 6px;
}

.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload {
    height: 24px;
}

.youtube-apps {
    height: 24px;
}

.notifications {
    height: 24px;
}

.notification-icon-container {
    position: relative;
}

.notifications-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(207, 4, 4);
    color: white;
    font-size: 11px;
    padding: 2px 5px;
    border-radius: 10px;
}

.my-profile {
    height: 32px;
    border-radius: 50%;
}