.sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-links {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-links:hover {
    background-color: rgb(227, 226, 226);
}

.sidebar-links img {
    height: 30px;
    margin-bottom: 5px;
}

.sidebar-links div {
    font-size: 10px ;
}